[Unit]
Description=MPK-API

[Service]
User=mpk
Group=mpk
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/sebastian/MPK-API

[Install]
WantedBy=multi-user.target
